version: '3.9'
services:
  mysql:
    image: mysql:5.7
    container_name: mysqlcontainer
    volumes:
      - './.mysql_data/db:/var/lib/mysql'
    restart: always
    ports:
      - '3306:3306'
    environment:
      MYSQL_ROOT_PASSWORD: rootpw
      MYSQL_DATABASE: axso-db
      MYSQL_USER: afernandez
      MYSQL_PASSWORD: afernandez
    
  web:
    build: ./web
    container_name: web
    ports:
      - '8000:5000'
    depends_on:
      - mysql
    environment:
      MYSQL_ROOT_PASSWORD: rootpw
      MYSQL_DATABASE: axso-db
      MYSQL_USER: afernandez
      MYSQL_PASSWORD: afernandez
      
   
volumes:
  mysql_data:
network:
  web-network:
    name: web-network
  db-network:
    name: db-network
      
  

      
 
   
    
       
 
    
    

    
  

 
  

