version: '3.9'
services:
  axsobd:
  mysql:
    image: mysql:5.7
    container_name: mysql
    ports:
      - 3306:3306
      
    enviroment:
    MYSQL_DATABASE: axsobd
    MYSQL_USER: afernandez  
    MYSQL_PASSWORD: practica2023
    MYSQL_ROOT_PASSWORD: rootpsw
  

 
  

