version: '3.9'
services:
   axso-db:
    image: mysql:5.7
    container_name: mysqlcontainer
    volumes:
      - "./.mysql-data/db:/var/lib/mysql"
    restart: always
    ports:
      - 3306:3306
    environment:
    MYSQL_ROOT_PASSWORD: rootpw
    MYSQL_DATABASE: axso-db
    MYSQL_USER: afernandez
    MYSQL_PASSWORD: afernandez
    
    
  

 
  

