version: '3.9'
services:
  mysql:
    image: mysql:5.7
    container_name: mysqlcontainer
    volumes:
      - './.mysql_data/db:/var/lib/mysql'
    restart: always
    ports:
      - '3306:3306'
    environment:
      MYSQL_ROOT_PASSWORD: rootpw
      MYSQL_DATABASE: axso-db
      MYSQL_USER: afernandez
      MYSQL_PASSWORD: afernandez
    networks:
      - db-network
  web:
    build: ./web
    container_name: web
    ports:
      - '5000:80'
    depends_on:
      - mysql
    environment:
      MYSQL_ROOT_PASSWORD: rootpw
      MYSQL_DATABASE: axso-db
      MYSQL_USER: afernandez
      MYSQL_PASSWORD: afernandez
      
      networks:
        - web-network
        - db-network
    volumes:
      mysql-data:
    network:
      web-network:
        name: web-network
      db-network:
        name: db-network
       
   
    
       
 
    
    

    
  

 
  

