version: '3.9'
services:
  mysql:
    image: mysql:5.7
    container_name: mysqlcontainer1
    volumes:
      - './.mysql_data/db:/var/lib/mysql'
    restart: always
    ports:
      - '3306:3306'
    environment:
       env_file: pass.env
  web:
    build: ./web
    container_name: web
    ports:
      - '5000:5000'
    depends_on:
      - mysql
    environment:
      env_file: pass.env

      
       
   
    
       
 
    
    

    
  

 
  

