version: "3.6"
services:
  nginx:
    image: nginx
    volumes:
      - "./conf:/etc/nginx/conf.d"
    ports:
      - "80:80"
    networks:
      - web-network
networks:
  web-network:
    name: web-network
